page-lr-receiver {
    .bar-style{
       
        @media  screen and (min-width: 600px) and (max-width: 700px)
{
    position: absolute;
    left: 388px;
}
    }
    .bar-style{
       
        @media  screen and (min-width: 700px) and (max-width: 1500px)
{
    position: absolute;
    left: 435px;
}
    }
    .title-style{
       
        @media  screen and (min-width: 700px) and (max-width: 1500px)
{
    margin-left: -2px ! important;
    }
    }
    .title-style{
       
        @media  screen and (min-width: 600px) and (max-width: 700px)
{
    margin-left: -50px ! important;
    }
    }
    .player-button{
       
        @media  screen and (min-width: 600px) and (max-width: 1500px)
{
margin-left:24% ! important;
}
    }

    .forward-button{
       
        @media  screen and (min-width: 600px) and (max-width: 1500px)
{
margin-left:22% ! important;
}
    }


    .text-style{
       
        @media  screen and (min-width: 600px) and (max-width: 1500px)
{
    margin-top: 23px ! important;
}
    }
    .center-circle{
        height: 453px;
        margin-left:5px;
        margin-top: -70px;
        z-index: -1;
       position:relative
    }
    .bg{
        background-image: url('../assets/imgs/effect.png');
        background-repeat: no-repeat;
      
    }
        
    
    .toolbar-background-md{
        background-color: #36434e;
    }
    .toolbar-background-ios{
        background-color: #36434e;
    }
.toolbar-title-md{
    text-align: center;
    padding: 0px;
    margin-top:0px;
   // margin-left: 65px;
   margin-left: 80px;
    color:white;
    font-weight: 400;
}
.toolbar-title-ios{
    text-align: center;
    padding: 0px;
    margin-top:0px;
    margin-left: 0px;
    color:white;
    font-weight: 400;
}
.content-md{
   // background: radial-gradient(circle at 20%,#4c5c69, #36434e); 
   background-color:#36434e;
    //background:rgba(255,255,255, 0.3);
    //box-shadow: 10px 30px rgba(255,255,255, 1);
}
.content-ios{
    background-color: #36434e;
}
.center {
    margin-top: -65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
div img{ display: inline-block;
         margin-left:19%;
         margin-top:5%;      

}
ion-icon[small] {
  
    color: 80a54f;
    min-height: 0.1em;
    font-size: 2em;
    color: #5C8D23;
}
.ion-md-volume-up:before {
   
    color: #5C8D23;
}
.ion-ios-volume-up:before {
   
    color: #5C8D23;
}
.div-parent{
    display:flex;
    justify-content: center;
    
}
.range-md .range-slider {
    margin-left:10px;
    margin-right: 10px;
}
.range-ios .range-slider {
    margin-left:10px;
    margin-right: 10px;
}
.range-md [range-left] {
    padding-left: 10px;

    
}
.range-ios [range-left] {
    padding-left: 10px;

}
.range-md [range-right] {
    padding-left: 7px;
    padding-top:1px;

    
    margin-right: 10px;
}
.range-ios [range-right] {
    padding-left: 7px;
    
    padding-top:1px;
    margin-right: 10px;
}

}
