<!--
  Generated template for the LrReceiverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >

      <ion-buttons left (click)="moveToHome()">
          <button ion-button icon-only >
            <ion-icon item-start>  <img item-left  src="assets/icon/left-arrow-angle.png" ></ion-icon>
          </button>
        </ion-buttons>
        <ion-title class="title-style" >LR Receiver </ion-title>
        <ion-buttons class="bar-style" right >
            <button ion-button icon-only >
              <ion-icon>  <img style="margin-right:33px;" src="assets/icon/network.png" > </ion-icon>
            </button>
          </ion-buttons>

        <ion-buttons  right>
            <button ion-button  menuToggle="right" icon-only >
              <ion-icon item-end>  <img item-right  src="assets/icon/settings.png" ></ion-icon>
            </button>
          </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding  no-bounce>
  <!-- <img src="assets/imgs/effect.png"> -->
  <!-- <div style="    position: absolute;" ><img class="center-circle" src="assets/imgs/effect.png"></div>
<div>

</div> -->
<img class="center" src="assets/icon/effect (1).png">
<!-- 
<ion-grid style="margin-top:10%">
<ion-row style=padding-left:10px;margin-top:10%;margin-right:-23px; >
<ion-col col-3 > 
  <ion-label *ngIf="on==1" style="color:#768490">Sync on</ion-label>
  <ion-label *ngIf="on==0" style="color:#768490">Sync off</ion-label>
  <img *ngIf="on==1" (click)="syncOnOff(0)" style="margin-left:15px;" src="assets/icon/restart.png">
  <img *ngIf="on==0"  (click)="syncOnOff(1)" (click)="syncOnOff(1)" style="margin-left:15px;" src="assets/icon/sync-off.png">
</ion-col>

<ion-col col-6  >
  <ion-label style="color:#768490">Connected to</ion-label>
  <ion-label style="margin-top:20px;margin-left:5px;font-size:1.6rem;" (click)="moveToDeviceList()" >HTC P10<img style="margin-top:2px;margin-left:8px;position:absolute" item-left src="assets/icon/angle-arrow-down (1).png"></ion-label> -->
  <!-- <img src="assets/icon/backward-arrows.png"> -->
<!-- </ion-col>

<ion-col col-3  >
  <ion-label style="padding-left: 14px;color:#768490">EQ</ion-label>
  <img style="margin-left:11px;" (click)="moveToAudioEffect()" src="assets/icon/equiliser.png">
</ion-col>
</ion-row>
</ion-grid> -->

<div style="display:block;width:100%;float:left;padding-left:20px;margin-top: -30px;">
  <div style='display:inline-block;width:30%;float:left;text-align:left'>
    <p *ngIf="on==1" style="color:#768490">Sync on</p>
    <p *ngIf="on==0" style="color:#768490">Sync off</p>
    <img *ngIf="on==1" (click)="syncOnOff(0)" style="margin-left:15px;" src="assets/icon/restart.png">
    <img *ngIf="on==0"  (click)="syncOnOff(1)" (click)="syncOnOff(1)" style="margin-left:15px;" src="assets/icon/sync-off.png">
  </div>

  <div style='display:inline-block;width:40%;float:left;text-align:center;padding-top:3px;'>
    <ion-label style="color:#768490">Connected to</ion-label>
    <ion-label class="text-style" style="margin-top:20px;margin-left:-9px;font-size:1.6rem;" (click)="moveToDeviceList()" >HTC P10<img style="margin-top:2px;margin-left:8px;position:absolute" item-left src="assets/icon/angle-arrow-down (1).png"></ion-label>
  </div>

  <div style='display:inline-block;width:28%;float:left;text-align:right;margin-left: -14px;margin-top:5px'>
    <ion-label style="padding-left: 14px;color:#768490">EQ</ion-label>
    <img style="margin-left:11px;" (click)="moveToAudioEffect()" src="assets/icon/equiliser.png">
  </div>
</div>



<div class="div-parent" style="margin-top:70px;" >
<div style="background-color: #70AF20;height:12%;padding-bottom:10px;padding-top:10px;border-radius:10px 10px 0px 0px;margin-top:5%;width:96%;border-bottom:1px solid #88be46 ">

    <ion-range [(ngModel)]="brightness">
        <ion-icon range-left small name="volume-mute"></ion-icon>
        <ion-icon range-right name="volume-up"></ion-icon>
      </ion-range>

</div>
</div>

<div class="div-parent">
  
<div style="background-color: #70AF20;height:12%;border-radius:0px 0px 10px 10px;margin-top:1px;width:96%;padding-bottom:20px;padding-top:10px">

    <img src="assets/icon/backward.png">
      <img class="player-button" src="assets/icon/play-button.png">
        <img class="forward-button" src="assets/icon/fast-forward.png">    
</div>
</div>

<p></p>
</ion-content>
