page-product-registration {

    .toolbar-background-md{
        background-color: #37434F;
    }
    .toolbar-background-ios{
        background-color: #37434F;
    }
.toolbar-title-md{
    text-align: center;
    padding: 0px;
    margin-top:5px;
    margin-left: -15px;
    color:white;
    font-weight: 400;
}
.toolbar-title-ios{
    text-align: center;
    padding: 0px;
    margin-top:0px;
    margin-left: 13px;
    color:white;
    font-weight: 400;
}
.bar-button-menutoggle-md ion-icon {
    //color:#4c5c69;
    color:#74828E;
     font-size: 3rem;
    // margin-top:-25px;
    // padding-top: 0px;
}
.bar-button-menutoggle-ios ion-icon {
    //color:#4c5c69;
    color:#74828E;
}
 .label-md{
   color:#768490;
 font-size: 1.8rem;
 font-weight:300;
 margin-left:20px
 }
// .label-ios{
//     text-align:center;
//     margin-top:18px !important;
//     font-size: 1.4rem; 
// }
 .label-ios{
    margin-left:20px;
    color:#768490;
     font-size: 1.8rem; 
     font-weight:300;
     }
    .list-md{
        margin-right: -28px;
        margin-left: 0px;
    }
    .list-ios{
        margin-right: -28px;
        margin-left: 0px;
        height:60px;
    }
    .item-md{
        background-color: #37434F;
        margin-left: -14px;
        margin-bottom: 2px;
        height:65px;
       // border-bottom: 0.1px solid #4c5c69;
    }
    .item-ios{
        background-color: #37434F;
        margin-left: -14px;
        margin-bottom: 2px;
        height:65px;
       // border-bottom: 0.1px solid #4c5c69;
    }
  
    .content-md{
        background-color: #37434F;
       
    }
    .content-ios{
        background-color: #37434F;
    }
    .button-md{
        border-radius:10px;
        background-color: #37434F;
        margin-left:10px;
       // border-color:whitesmoke;
       height:4.2rem;
       border: 1px solid white;

    }
    .button-ios{
        border-radius:10px;
        background-color: #37434F;
        margin-left:10px;
        border-color:whitesmoke;
        border: 1px solid white;
        height:4.2rem;
        bottom: -70%;
        
    }
.btn-send{
    background-color:#70AF20;
    width: 88%;
    border-radius: 15px;
    margin-left: 6%;
    font-size:2rem;
    text-transform: none;
    height:4.5rem;
     border:none;
     top:20px;
     bottom: 0px ! important;
   
  
     margin-bottom: 10px;
}
.button-full-ios{
    top:450px ! important;
}
.text-input::-webkit-input-placeholder {
    color: white;
    padding-left: 0px
  }
  .label{
      color:#4c5c69;
  }
  .para{
    color:#4c5c69;
    font-size:1.8rem;
  }
  .list-ios[no-lines] ion-list-header, 
  .list-ios[no-lines] ion-item-options,
   .list-ios[no-lines] .item, .list-ios[no-lines]
    .item .item-inner {
      border-bottom: 0.5px solid #4c5c69; 
  }
  .list-md[no-lines] ion-list-header, 
  .list-md[no-lines] ion-item-options,
   .list-md[no-lines] .item, .list-md[no-lines]
    .item .item-inner {
      border-bottom: 0.5px solid #4c5c69; 
  }
  .border{
    border-top: 1px solid #4c5c69;
    margin-top:15px;
  }

  .bar-button-menutoggle-md {
      margin-left:10px;
  }
  .text-input-md {
    margin-left: -12px;
    color:white;
  }

  .text-input-md {
       
    @media  screen and (min-width: 600px) and (max-width: 1500px)
{
    margin-left: -10px ! important;
}
}
.label-style{
       
    @media  screen and (min-width: 600px) and (max-width: 700px)
{
    margin-left: -300px ! important;
}
}
.label-style{
       
    @media  screen and (min-width: 701px) and (max-width: 1500px)
{
    margin-left: -508px ! important;
}
}
// ion-input, ion-textarea {
//     margin-left: -41px;
// }

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
    margin-left: -14px;
    color:white;
}

}
